PORT=5050
CLIENT_URL=http://127.0.0.1:5173
MONGODB_URI=mongodb+srv://username:REDACTED_PASSWORD@cluster-url.mongodb.net/?retryWrites=true&w=majority&appName=BudgetingApp
MONGODB_DB_NAME=budgetting_bp03
APPROVAL_LIMIT=40
